scratch
engine/src/*.o
image.db
engine_logging_file.log
.DS_Store
public/text/*.pdf
.svn
solr/**/*
log/*.log
tmp/**/*
doc/api
doc.app
config/settings.yml
config/database.yml
nbproject
nbproject/*
.git/config
*.swp
db/db_development
public/system/photos/*
public/photos/*
public/system/**/*
db/schema.rb
public/restart.txt
public/stylesheets/compiled
tmp
app/stylesheets

website/logging
website/public/stylesheets/compiled/*
website/log/*.log
website/tmp/**/*
website/public/system/photos/*
website/public/photos/*
website/public/system/**/*
website/db/schema.rb
website/public/restart.txt
website/public/stylesheets/compiled
website/tmp
website/scratch
website/public/imagedb/*

webapp/logging
webapp/public/stylesheets/compiled/*
webapp/log/*.log
webapp/tmp/**/*
webapp/public/system/photos/*
webapp/public/photos/*
webapp/public/system/**/*
webapp/db/schema.rb
webapp/public/restart.txt
webapp/public/stylesheets/compiled
webapp/tmp
webapp/scratch
webapp/public/imagedb/*

