<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>Makerlab</title>
  <link type="text/css" title="makerlab" rel="Stylesheet" media="screen" href="css/master.css"/>
</head>

<body id="who_are_we">
  <div id="wrapper">
    <div id="header">
      <a href="/" id="makerlab">makerlab</a>
      <ul id="main_nav" class="nav group">
        <li id="what"><a href="/">what we do</a></li>
        <li id="who"><a href="/who.html">who are we</a></li>
        <li id="projects"><a href="#">our projects</a></li>
        <li id="contact"><a href="#">contact us</a></li>
      </ul>
    </div>
    <div id="content" class="group">
      <div class="main">
        <ul id="cards">
          <li id="card_1">
            <div class="vcard">
              <a class="url fn" href="http://hook.org">paige saez</a> 
              <br>managing director | concept development | interaction design]
              <div class="org">makerlab</div>
              <a class="email" href="mailto:psaez@makerlab.com">psaez@makerlab.com</a>
              <div class="adr">
                <span class="locality">Portland</span>
                , 
                <span class="region">Oregon</span>
                , 
                <span class="postal-code">97201</span>

                <span class="country-name">US</span>

              </div>
              <div class="tel">971.227.4384</div>
            </div>
          </li>
          <li id="card_2">
            <div class="vcard">
              <a class="url fn" href="http://hook.org">anselm hook</a>
              <div class="org">makerlab</div>
              <a class="email" href="mailto:ahook@makerlab.com">ahook@makerlab.com</a>
              <div class="adr">
                <span class="locality">Portland</span>
                , 
                <span class="region">Oregon</span>
                , 
                <span class="postal-code">97209</span>

                <span class="country-name">US</span>

              </div>
              <div class="tel">971.227.4384</div>
            </div>
          </li>
          <li id="card_3">
            <div class="vcard">
              <a class="url fn" href="http://hook.org">ed bice</a>
              <div class="org">makerlab</div>
              <a class="email" href="mailto:ebice@makerlab.com">ebice@makerlab.com</a>
              <div class="adr">
                <span class="locality">Portland</span>
                , 
                <span class="region">Oregon</span>
                , 
                <span class="postal-code">97209</span>

                <span class="country-name">US</span>

              </div>
              <div class="tel">415.285.4856</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="footer">
      <ul class="nav">
        <li><a href="#">Site Map</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Developent Lab</a></li>
        <li><a href="#">RSS Feeds</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <p>Copyright &copy; 2008 makerlab, inc. all rights reserved.</p>                                                                                
    </div>
  </div>
</body>
</html>
