<h1>About</h1>

What is the ImageWiki?
Imagewiki makes it easy to create hyperlinks to anything in the world!
Take a picture of anything and add comments, rants & raves.
We do image recognition to connect you with other users who saw the same image.
Hide notes in real-world objects or tell people about how good that album is,
or where that band on the poster is playing or anything you can imagine!
<br/><br>
Help make the "image commons" - a place where our voice and our opinions about
the things behind the images can be shared in a free and open way.
