<br>
<h1>Help with the Imagewiki Application</h1>
<p>The Imagewiki project is still very rough and we are sure there will be a few glitches here and there.
If you see bugs or trouble you can email us at: support@imagewiki.org<br><br>
Here is a short list of some common questions and their answers</p>

<h2>How do I install the IPhone Client?</h2>
<p>
To use the IPhone client you will need to do a few technical things: First of all you need a hacked iphone, once you have that you need to go to your installer and add the makerlab community sources path to your installer resources. From there
you can go to the multimedia area and fetch the ImageWiki application.

Please see <a href="http://makerlab.org/iphone.xml" alt="makerlab_website" title="go the the makerlab site">http://makerlab.org/iphone.xml</a> for more details about how to do this.
</p>
<h2>Forgot your password?</h2>
<p>You can get a new password here: <a href="/forgot" alt="forgot_your_password" title="forgot password">Get a new password here.</a> Also you can <a href="/change">change your password too</a> if you wish. 
</p>
<h2>How do I see all the images on the site?</h2>
<p>While it't not nearly comprehensive, you can see a list of the most recent searches here: <a href="/searches" title="recent images" alt="see_recent_images">Recent Imagewiki Searches</a>
</p>
<h2>What are the terms of use?</h2>
<p>Currently everything is CC licensed as openly as possible.
Probably in a little while we will be able to spend more time allowing everyone to state their own licenses for their images.
</p>
<h2>What is the current Privacy guideline for the Imagewiki?</h2>
<p>Since we are so young, nothing is private as of yet.
BUT we will not share your email address with anybody no matter what! :)
We will not share your use/activity with anybody.
And your passwords are encrypted so that we don't even know them ourselves! 
</p><h2>What are the general use guidelines?</h2
<p>Don't upload porn. Please? Kthnx.
</p>
<h2>Is there an API?</h2>
<p>Not yet - though we are building one right now! This is very valuable to us not simply for access to content but
for the spirit of participation and allowing everyone access and control over their images.</p>
<h2>How do I contact people working on this project?</h2><p>
We are a small group of friends in Portland Oregon working nights and weekends to make this project possible-
We are Anselm Hook, John Wiseman, Paige Saez, Ben Foote, and Marlin Pohlman. We can be reached through our clubhouse, the <a href="http://makerlab.com" alt="makerlab_website" title="makerlab website">MakerLab</a></p>
<h2>Is there support for other languages?</h2>
<p>Not yet, but clearly this is important and will happen as soon as we can find people to do it.</p> 

<h2>How Can I Help?</h2>
<p>Yay! We are so glad you asked! You can help a couple of ways actually, by adding your images, and by helping us write the code that makes the magic happen. Contact us at <a href="mailto:support@imagewiki.org" alt="contact_the_imagewiki_team" title='send us some mail!'>support@imagewiki.com</a> for more info. 
</p>
<br>
	
<p>All content is Copyright &copy; 2008 makerlab, inc. all rights reserved.<p>                                                                                
